maven 3.9.9

# NOTE: uncomment this when working locally and don't need GraalVM
java adoptopenjdk-21.0.7+6.0.LTS

# NOTE: uncomment this when working locally and need GraalVM.
# The maven target `native:compile-no-fork` won't work without this.
#java oracle-graalvm-21.0.7
