name: CI (GitHub Actions)

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: read
  security-events: write

env:
  SNYK_CLI_VERSION: v1.1300.1

jobs:
  gitleaks:
    name: Gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  snyk:
    name: Snyk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Snyk
        uses: snyk/actions/setup@master
        with:
          snyk-version: ${{ env.SNYK_CLI_VERSION }}
      - name: Snyk Test
        run: snyk test --sarif-file-output=${{ github.workspace }}/snyk.sarif
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ github.workspace }}/snyk.sarif

  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up latest LTS JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt
          cache: maven
      - name: Build & Test
        run: mvn -B package
      - name: Did Build/Test cause a change? (i.e. schemas changes? linters?)
        run: git diff --exit-code
      - name: Collect Test Reports
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: JUnit5 Tests
          reporter: java-junit
          path: target/surefire-reports/*.xml
